.container {
    width: 1170px;
    margin-bottom: 150px;
    margin-top: 150px;
    text-align: center;
}
.space{
    margin-top: 30px;
    margin-bottom: 30px;

}
.row{
    box-sizing: border-box;
    margin-right: -15px;
    margin-left: -15px;
}
.div-table{
    display: table;
    width: 100%;
    margin-bottom: 15px;
}
.div-table-row{
    display:table-row;
    width:auto;
    clear:both;
}
.div-table-col{
    display: inline-block;
    vertical-align: middle;
}
.div-table-col-top{
    display: table-cell;
    vertical-align: top;
}

.media-body{
    padding-left: 10px;
}
.media-body h4{
    font-weight: bold;
    font-size: 17px;
}

.media-body h5{
    font-size: 17px;
}

.media-body ul {
    /*list-style-type: none;*/
    padding-left: 18px;
}

.media-body ul li a {
    position: relative;
    left: -5px;
}

.media-body a, .media-body a:visited {
    color: #000000;
}

.media-body a:hover, .media-body a:active{
    color: #666666;
    text-decoration: none;
}
.media-heading {

    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 50px;


}
/** pantallas pequenas */
@media (max-width: 540px) {
    .hide540{
        display: none;
    }
}
/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}
