.title-margin {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 40px
}

.container-list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 513px;
    overflow-x: hidden;
    padding: 15px;
}

.container {
    width: 1170px;
    margin-top: 50px;
}
.container-result {
    width: 1170px;
    margin-top: 80px;
}

.flexcontainer {
    display: flex;
    justify-content: flex-start; /* adjustment */
    position: relative; /* new */
    width: 500px;
    height: 200px;
}

.itemcenter {
    flex: 0 1 auto;
    width: 180px;
    height: 150px;
    position: absolute; /* new */
    left: 60%;
    transform: translateX(-50%);
}

.flexcontainer {
    display: flex;
    justify-content: flex-start; /* adjustment */
    position: relative; /* new */
    width: 500px;
    height: 200px;
}

.itemcenter {
    flex: 0 1 auto;
    width: 150px;
    height: 100px;
    position: absolute; /* new */
    left: 50%;
    transform: translateX(-50%);
}

.itemright {
    flex: 0 1 auto;
    width: 100px;
    height: 100px;
    margin-left: auto; /* new */
}

.message-create {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: red;
}

.container-description {
    width: 300px;
    margin-right: 80px;

}

.btn {
    margin-top: 0;
}
label {
    font-size: 20px;
}

li {
    margin-bottom: 20px;
}


